<!-- @format -->

<template>
	<ModalComponent v-model="showModal" title="Eliminar empresa">
		<div>
			<p>
				Estas a punto de eliminar tu empresa lo cual esta acción es irrecuperable. Para continuar ingresa tu contraseña
			</p>

			<form class="mt-4" @keyup.enter="deleteCompany">
				<InputForm
					v-model="form.password"
					type="password"
					label="Contraseña"
					placeholder="············"
					maxLength="30"
					:error="extractErrors('form.password')"
				/>
			</form>

			<div class="text-center mt-3">
				<Button
					:isLoading="isLoading"
					:disabled="disableAction"
					class="mb-2"
					@click="deleteCompany"
					text="Eliminar"
					variant="danger"
					block
				/>
			</div>
		</div>
	</ModalComponent>
</template>

<script>
const ModalComponent = () => import('@/components/common/Modal');
const Button = () => import('@/components/common/Button');
const InputForm = () => import('@/components/common/forms/InputForm');

import { validate, serviceInteraction, modal } from '@/mixins';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import { caseDiff, numbers, letters } from '@/rules';
import { mapActions } from 'vuex';
import { companyService } from '@/http/services';

export default {
	mixins: [validationMixin, validate, serviceInteraction, modal],
	components: {
		ModalComponent,
		Button,
		InputForm
	},
	data() {
		return {
			form: {
				password: null
			}
		};
	},
	validations: {
		form: {
			password: {
				required,
				minLength: minLength(8),
				maxLength: maxLength(30),
				caseDiff,
				numbers,
				letters
			}
		}
	},
	watch: {
		form: {
			handler() {
				this.shouldBeDisabled();
				this.revertSubmit();
			},
			deep: true
		}
	},
	methods: {
		...mapActions({
			logout: 'authModule/logout'
		}),
		async deleteCompany() {
			if (this.validate()) return;

			this.loading();

			companyService
				.delete(this.form)
				.then(() => {
					this.cleanForm();

					this.logout();
				})
				.catch((response) => this.assignErrors(response))
				.finally(() => this.revertLoading());
		},
		shouldBeDisabled() {
			this.disableAction = !this.form.password;
		}
	},
	beforeMount() {
		this.shouldBeDisabled();
	}
};
</script>
