<template>
	<div class="d-flex align-items-center">
		<TableOffset :offset="offset" :showing="showing" class="mr-auto" />
		<TablePagination :page="page" :offset="offset" :showing="showing" />
	</div>
</template>

<script>
const TableOffset = () => import('./tableOffset/TableOffset');
const TablePagination = () => import('./TablePagination');

export default {
	name: 'TableFooter',
	components: {
		TableOffset,
		TablePagination
	},
	props: {
		page: Number,
		offset: Number,
		showing: Number
	}
};
</script>
