<template>
	<div>
		<a href="#" :class="isDisabledPrevious ? 'disabled' : ''" @click.prevent="handlePage(false)">
			<i
				class="icon ionicon-chevron-back-outline bg-primary text-white mr-2 d-inline-block text-center rounded-circle font-weight-bold"
			></i>
		</a>
		<a href="#" :class="isDisabledNext ? 'disabled' : ''" @click.prevent="handlePage(true)">
			<i
				class="icon ionicon-chevron-forward-outline bg-primary text-white d-inline-block text-center rounded-circle font-weight-bold"
			></i>
		</a>
	</div>
</template>

<script>
import { eventBus, EVENTS } from '@/eventBus';

export default {
	name: 'TablePagination',
	props: {
		page: Number,
		offset: Number,
		showing: Number
	},
	computed: {
		isDisabledPrevious() {
			return this.page == 1;
		},
		isDisabledNext() {
			return this.showing < this.offset;
		}
	},
	methods: {
		handlePage(isNext) {
			const page = isNext ? this.page + 1 : this.page - 1;

			eventBus.$emit(EVENTS.TablePagination.handlePage, page);
		}
	}
};
</script>

<style lang="scss" scoped>
a {
	i {
		width: 24px;
		height: 24px;
		line-height: 24px;
		transition: $transition-slow;
	}

	&:hover {
		i {
			opacity: 0.7;
			transition: $transition-slow;
		}
	}

	&.disabled {
		pointer-events: none;
		i {
			opacity: 0.4;
		}
	}
}
</style>
