<template>
	<div class="text-center py-5">
		<img src="~@/assets/no-data.svg" class="img-fluid mx-auto pb-3" alt="no data found" />
		<p>We didn't find any information related to your search</p>
	</div>
</template>

<script>
export default {
	name: 'TableNotFound'
};
</script>

<style lang="scss" scoped>
img {
	max-width: 100px;
}
</style>
