<template>
	<b-skeleton-wrapper :loading="isLoading">
		<template #loading>
			<b-skeleton class="py-3" width="100%"></b-skeleton>
			<b-skeleton class="py-3 my-3" width="100%"></b-skeleton>
			<b-skeleton class="py-3" width="100%"></b-skeleton>
			<b-skeleton class="py-3 mt-3" width="100%"></b-skeleton>
		</template>
	</b-skeleton-wrapper>
</template>

<script>
import { BSkeleton, BSkeletonWrapper } from 'bootstrap-vue';

export default {
	name: 'TableBusy',
	components: {
		BSkeleton,
		BSkeletonWrapper
	},
	data() {
		return {
			isLoading: true
		};
	}
};
</script>

<style></style>
