//////////////////////////////////////////////////
// Table
//////////////////////////////////////////////////

.table{
	th{
		background-color: $body-background-color !important;
		border-top: none !important;
		border-bottom: none !important;
		padding: 1rem !important;
	}

	td{
		border-top: none !important;
		border-bottom: 1px solid $body-background-color;
		vertical-align: middle !important;
	}
}