//////////////////////////////////////////////////
// Toasts
//////////////////////////////////////////////////

$vt-font-family: $font-family-sans-serif;
$vt-color-error:$danger;
$vt-color-success: $success;
$vt-color-info:$primary;

.Vue-Toastification__toast{
	cursor: pointer;
	min-height: auto !important;
	padding: 1rem !important;

	&-body{
		font-size: $font-size-base !important;
	}
}


@import "~vue-toastification/src/scss/index";