ul,label{
	margin: 0 !important;
}

select{
	box-shadow: none !important;
}

.form-control.is-invalid{
	background-image: none !important;
	box-shadow: none !important;
}

.dropdown{

	.btn{
		padding: 0 !important;
	}

	.dropdown-menu{
		min-width: auto;
	}
}