//////////////////////////////////////////////////
// Fonts
//////////////////////////////////////////////////

$font-family-sans-serif: "Sora";
$font-family-monospace: "Sora";
$font-family-icons: 'ionicon';
$font-size-base: 0.80rem;
$font-size-sm: 0.8rem;


//////////////////////////////////////////////////
// Colors
//////////////////////////////////////////////////

$primary:#6592fe;
$secondary:#3d3d3d;
$white: #fff;
$success:#4fc775;
$danger:#ff5952;

// Text
$headings-color: $secondary;
$headings-font-weight: 700;
$link-color:$secondary;
$link-hover-decoration: none;
$text-color: rgba($secondary,.85);
$body-color: $text-color;

// Body
$body-background-color:#f8f8fb;

// hr
$hr-color: rgba($text-color,.2);

// Rail scroll
$rail-scroll: #6e6e6e;

//////////////////////////////////////////////////
// Shadows
//////////////////////////////////////////////////

$box-shadow:0 0.75rem 1.5rem rgb(18 38 63 / 3%);


//////////////////////////////////////////////////
// Misc
//////////////////////////////////////////////////

$transition-base-seconds: 0.1s;
$transition-slow-seconds: 0.3s;

// Animations
$transition-base: all $transition-base-seconds ease-in-out;
$transition-slow: all $transition-slow-seconds ease-in-out;

// Border radius
$border-radius: .175rem;


//////////////////////////////////////////////////
// Tables
//////////////////////////////////////////////////

$table-border-color: $hr-color;
$table-border-width:1px;

//////////////////////////////////////////////////
// Resets
//////////////////////////////////////////////////

// Margins
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
$form-label-margin-bottom:0;

// Input
$input-focus-border-color:$hr-color;
$input-focus-box-shadow: none;

// Button
$input-btn-focus-box-shadow: none !important;

// Cards
$card-border-color:none;

// Modal
$modal-content-border-color: transparent;

//////////////////////////////////////////////////
// Breakpoints
//////////////////////////////////////////////////

$grid-breakpoints: (
  xs:0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: 1320px
);