<template>
	<Dashboard :keyTitle="keyTitle">
		<template #title>{{ table.total }} {{ table.total | pluralize(['Sector', 'Sectores']) }} </template>
		<template #content>
			<div class="row">
				<div class="col-md-12">
					<PanelBox>
						<template #content>
							<div class="row mb-4">
								<div class="col-sm-4">
									<InputSearch
										v-debounce:500ms="get"
										v-model="table.filters.name"
										class="mr-auto"
										placeholder="Buscar sector..."
										maxLength="30"
									/>
								</div>
								<div class="col-sm-8 pt-4 pt-sm-0">
									<div class="d-flex justify-content-end">
										<Button text="+ Add Sector" variant="success" class="mr-3" />
										<Button @click="exportCsv" text="Exportar" variant="secondary" />
									</div>
								</div>
							</div>
							<BTable
								@sort-changed="sorting"
								no-local-sorting
								responsive
								:items="table.records"
								:fields="FIELDS"
								:busy="table.isLoading"
								show-empty
							>
								<template #empty>
									<TableNotFound />
								</template>
								<template #cell(view)="row">
									<Button :to="route('dashboard.sectors.view', { id: row.item.id })" text="View" variant="primary" />
								</template>
								<template #cell(actions)="row">
									<router-link :to="route('dashboard.sectors.edit', { id: row.item.id })" title="Editar">
										<i class="action-icon icon ionicon-create-outline"></i>
									</router-link>
									<a href="#" @click.prevent="deleteSector(row.item.id)" class="ml-3" title="Borrar">
										<i class="action-icon icon ionicon-trash-outline"></i>
									</a>
								</template>
							</BTable>
							<TableFooter :page="table.page" :offset="table.offset" :showing="table.records.length" />
						</template>
					</PanelBox>
				</div>
			</div>
		</template>
	</Dashboard>
</template>

<script>
const Dashboard = () => import('../../components/Dashboard');
const PanelBox = () => import('../../components/PanelBox');
const Button = () => import('@/components/common/Button');
const InputSearch = () => import('@/components/common/forms/InputSearch');
const TableFooter = () => import('@/components/common/tables/TableFooter');
const TableNotFound = () => import('@/components/common/tables/TableNotFound');
import { BTable } from 'bootstrap-vue';

import { refreshTitle } from '../../mixins';
import { FIELDS } from './constants';
import { sectorService } from '@/http/services';
import { route, table, toastErrors } from '@/mixins';
import Vue from 'vue';
import Vue2Filters from 'vue2-filters';
import { getDirective } from 'vue-debounce';
import { toast } from '@/plugins';

Vue.use(Vue2Filters);

export default {
	name: 'SectorList',
	mixins: [refreshTitle, route, table, toastErrors],
	directives: {
		debounce: getDirective()
	},
	components: {
		Dashboard,
		PanelBox,
		Button,
		InputSearch,
		BTable,
		TableFooter,
		TableNotFound
	},
	methods: {
		getRecords(total = false, csv = false) {
			return sectorService.all(this.table, total, csv);
		},
		deleteSector(id) {
			sectorService
				.delete(id)
				.then(() => {
					toast.success('El sector se borro correctamente');

					this.get();
				})
				.catch((err) => this.errorsToToast(err));
		}
	},
	beforeMount() {
		this.FIELDS = FIELDS;
	}
};
</script>

<style lang="scss" scoped>
.action-icon {
	font-size: 1.3rem;
}

.export-icon {
	font-size: 0.9rem;
}
</style>
