<template>
	<Dashboard :keyTitle="keyTitle">
		<template #title>Home</template>
		<template #content>
			<div>fasfa</div>
		</template>
	</Dashboard>
</template>

<script>
const Dashboard = () => import('../components/Dashboard');

import { refreshTitle } from '../mixins';

export default {
	name: 'Home',
	mixins: [refreshTitle],
	components: {
		Dashboard
	}
};
</script>

<style></style>
