<template>
	<AuthContainer>
		<SelectPlan v-if="!plan_id" />
		<RegisterForm v-else />
	</AuthContainer>
</template>

<script>
const SelectPlan = () => import('./components/SelectPlan');
const RegisterForm = () => import('./components/RegisterForm');
const AuthContainer = () => import('../common/AuthContainer');

export default {
	name: 'Register',
	components: {
		SelectPlan,
		RegisterForm,
		AuthContainer
	},
	data() {
		return {
			plan_id: null
		};
	}
};
</script>

<style></style>
