<template>
	<div class="container-fluid d-flex align-items-center justify-content-center">
		<div class="container text-center">
			<img src="~@/assets/not-found.svg" class="w-100" alt="Not Found" />
			<h1 class="mt-4">Hey come back!</h1>
			<p class="my-3">What happen ? We aren't sure but we guess our 50% that it was a problem</p>
			<Button @click="goBack" text="Go Back" />
		</div>
	</div>
</template>

<script>
const Button = () => import('@/components/common/Button');

import { title } from '@/mixins';

export default {
	name: 'NotFound',
	mixins: [title],
	components: {
		Button
	},
	methods: {
		goBack() {
			history.back();
		}
	},
	beforeMount() {
		this.title('Not Found');
	}
};
</script>

<style lang="scss" scoped>
.container-fluid {
	height: 100vh;
	background: $body-background-color;

	img {
		max-width: 300px;
	}
}
</style>
