<template>
	<AuthContainer title="Resetear contraseña">
		<form class="mt-4" @keyup.enter="resetPassword">
			<InputForm
				v-model="form.password"
				type="password"
				label="Contraseña"
				placeholder="············"
				maxLength="30"
				:error="extractErrors('form.password')"
			/>

			<Button
				:isLoading="isLoading"
				:disabled="disableAction"
				class="mb-2"
				@click="resetPassword"
				text="Resetear"
				block
			/>
			<Button :to="route('auth.login')" variant="secondary" text="Ingresar" block />

			<hr />

			<ReCaptcha class="text-center mb-4" />
		</form>
	</AuthContainer>
</template>

<script>
const InputForm = () => import('@/components/common/forms/InputForm');
const Button = () => import('@/components/common/Button');
const ReCaptcha = () => import('@/components/common/forms/ReCaptcha');
const AuthContainer = () => import('../common/AuthContainer');

import { route, title, reCaptcha, validate, serviceInteraction } from '@/mixins';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import { caseDiff, numbers, letters } from '@/rules';
import { toast } from '@/plugins';
import { authService } from '@/http/services';

export default {
	name: 'SendResetPassword',
	mixins: [route, title, reCaptcha, validationMixin, validate, serviceInteraction],
	components: {
		InputForm,
		Button,
		ReCaptcha,
		AuthContainer
	},
	data() {
		return {
			form: {
				password: null,
				token: this.$route.params.token
			}
		};
	},
	validations: {
		form: {
			password: {
				required,
				minLength: minLength(8),
				maxLength: maxLength(30),
				caseDiff,
				numbers,
				letters
			}
		}
	},
	watch: {
		form: {
			handler() {
				this.shouldBeDisabled();
				this.revertSubmit();
			},
			deep: true
		}
	},
	methods: {
		shouldBeDisabled() {
			this.disableAction = !this.form.password;
		},
		async resetPassword() {
			if (this.validate()) return;

			this.loading();

			await this.reCaptchaTokenAndMerge();

			authService
				.resetPassword(this.form)
				.then(() => {
					toast.success('Contraseña reiniciada correctamente');

					this.cleanForm();
				})
				.catch((response) => {
					this.assignErrors(response);
				})
				.finally(() => this.revertLoading());
		}
	},
	beforeMount() {
		this.title('Resetear contraseña');

		this.shouldBeDisabled();
	}
};
</script>

<style lang="scss" scoped></style>
