<template>
	<div :class="['selector-container', block ? 'block' : '']">
		<b-form-select v-model="language" :options="AVAILABLE_LANGS" @change="setLanguage" />
	</div>
</template>

<script>
import { BFormSelect } from 'bootstrap-vue';
import { AVAILABLE_LANGS } from './constants';
import { loadLanguageAsync, getLanguage } from '@/i18n';
import { eventBus, EVENTS } from '@/eventBus';

export default {
	name: 'SelectorLanguage',
	components: {
		BFormSelect
	},
	props: {
		block: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			language: getLanguage()
		};
	},
	methods: {
		async setLanguage(language) {
			await loadLanguageAsync(language);

			eventBus.$emit(EVENTS.SelectorLanguage.changeLanguage);
		}
	},
	beforeMount() {
		this.AVAILABLE_LANGS = AVAILABLE_LANGS;
	}
};
</script>

<style lang="scss" scoped>
.selector-container {
	&.block {
		width: auto;
	}
}
</style>
