<template>
	<Dashboard :keyTitle="keyTitle">
		<template #title>Empresa</template>
		<template #content>
			<div class="row">
				<div class="col-md-4">
					<PanelBox>
						<template #title>Editar información</template>
						<template #content>
							<form @keyup.enter="updateCompany">
								<LabelForm label="Logo" />
								<div class="text-center">
									<ImageInputForm class="preview-image mx-auto" v-model="form.logo" />
									<small class="d-block my-3">Este logo sera utilizada en los Qrs</small>
									<ErrorMessage :message="extractErrors('form.logo')" />
								</div>

								<InputForm
									v-model="form.name"
									label="Nombre"
									placeholder="Factory inc"
									maxLength="30"
									:error="extractErrors('form.name')"
								/>

								<Button
									:isLoading="isLoading"
									:disabled="disableAction"
									class="mb-2"
									@click="updateCompany"
									text="Actualizar"
									block
								/>
							</form>
						</template>
					</PanelBox>
					<small class="pt-3 d-block">
						<a href="#" @click.prevent="showDeleteCompany">Eliminar empresa</a>
					</small>
				</div>
			</div>

			<DeleteCompany v-model="deleteCompany" />
		</template>
	</Dashboard>
</template>

<script>
const Dashboard = () => import('../components/Dashboard');
const PanelBox = () => import('../components/PanelBox');
const InputForm = () => import('@/components/common/forms/InputForm');
const Button = () => import('@/components/common/Button');
const LabelForm = () => import('@/components/common/forms/LabelForm');
const ErrorMessage = () => import('@/components/common/forms/ErrorMessage');
const ImageInputForm = () => import('@/components/common/forms/ImageInputForm');
const DeleteCompany = () => import('./components/DeleteCompany');

import { refreshTitle } from '../mixins';
import { validate, serviceInteraction, company } from '@/mixins';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import { companyService } from '@/http/services';
import { toast } from '@/plugins';
import { mapActions } from 'vuex';

export default {
	name: 'Company',
	mixins: [refreshTitle, validationMixin, validate, serviceInteraction, company],
	components: {
		Dashboard,
		PanelBox,
		InputForm,
		Button,
		LabelForm,
		ErrorMessage,
		ImageInputForm,
		DeleteCompany
	},
	data() {
		return {
			form: {
				name: null,
				logo: null
			},
			deleteCompany: false
		};
	},
	validations: {
		form: {
			name: {
				required,
				minLength: minLength(1),
				maxLength: maxLength(40)
			}
		}
	},
	watch: {
		form: {
			handler() {
				this.shouldBeDisabled();
				this.revertSubmit();
			},
			deep: true
		}
	},
	methods: {
		...mapActions({
			getCompany: 'companyModule/getCompany'
		}),
		shouldBeDisabled() {
			this.disableAction = !this.form.name;
		},
		assignValues() {
			this.form.name = this.company.name;
			this.form.logo = this.company.logo;
		},
		async updateCompany() {
			if (this.validate()) return;

			this.loading();

			if (typeof this.form.logo === 'string') {
				delete this.form.logo;
			}

			companyService
				.update(this.form)
				.then(() => {
					toast.success('Se actualizo la información correctamente');

					this.getCompany();
				})
				.catch((response) => {
					this.assignErrors(response);
				})
				.finally(() => this.revertLoading());
		},
		showDeleteCompany() {
			this.deleteCompany = true;
		}
	},
	beforeMount() {
		this.shouldBeDisabled();

		this.assignValues();
	}
};
</script>

<style lang="scss" scoped>
ul {
	li {
		border-bottom: 1px solid $hr-color;

		&:first-of-type {
			padding-top: 0 !important;
		}

		&:last-of-type {
			border-bottom: none;
			padding-bottom: 0 !important;
		}
	}
}

.preview-image {
	width: 64px;
	height: 64px;
}
</style>
