<template>
	<AuthContainer title="Enviar verificación">
		<form class="mt-4" @keyup.enter="sendVerification">
			<InputForm
				v-model="form.email"
				label="Correo electronico"
				:toLowerCase="true"
				placeholder="Ingresa tu email"
				:error="extractErrors('form.email')"
			/>

			<Button
				:isLoading="isLoading"
				:disabled="disableAction"
				class="mb-2"
				@click="sendVerification"
				text="Enviar"
				block
			/>

			<Button :to="route('auth.login')" variant="secondary" text="Ingresar" block />

			<hr />

			<ReCaptcha class="text-center mb-4" />
		</form>
	</AuthContainer>
</template>

<script>
const InputForm = () => import('@/components/common/forms/InputForm');
const Button = () => import('@/components/common/Button');
const ReCaptcha = () => import('@/components/common/forms/ReCaptcha');
const AuthContainer = () => import('../common/AuthContainer');

import { route, title, reCaptcha, validate, serviceInteraction } from '@/mixins';
import { validationMixin } from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';
import { toast } from '@/plugins';
import { authService } from '@/http/services';

export default {
	name: 'SendVerification',
	mixins: [route, title, reCaptcha, validationMixin, validate, serviceInteraction],
	components: {
		InputForm,
		Button,
		ReCaptcha,
		AuthContainer
	},
	data() {
		return {
			form: {
				email: null
			}
		};
	},
	validations: {
		form: {
			email: {
				required,
				email
			}
		}
	},
	watch: {
		form: {
			handler() {
				this.shouldBeDisabled();
				this.revertSubmit();
			},
			deep: true
		}
	},
	methods: {
		shouldBeDisabled() {
			this.disableAction = !this.form.email;
		},
		async sendVerification() {
			if (this.validate()) return;

			this.loading();

			await this.reCaptchaTokenAndMerge();

			authService
				.verification(this.form)
				.then(() => {
					toast.success('Verificación enviada');

					this.cleanForm();
				})
				.catch((response) => {
					this.assignErrors(response);
				})
				.finally(() => this.revertLoading());
		}
	},
	beforeMount() {
		this.title('Verification');

		this.shouldBeDisabled();
	}
};
</script>

<style lang="scss" scoped></style>
