<template>
	<AuthContainer>
		<b-skeleton-wrapper :loading="isLoading">
			<template #loading>
				<b-skeleton class="mx-auto" width="20%"></b-skeleton>
				<b-skeleton class="mx-auto mt-4" width="90%"></b-skeleton>
				<b-skeleton class="mx-auto mb-4" width="10%"></b-skeleton>

				<b-skeleton class="mx-auto" width="90%"></b-skeleton>
				<b-skeleton class="mx-auto mb-4" width="10%"></b-skeleton>

				<b-skeleton type="button" class="mx-auto mb-4" width="90%"></b-skeleton>
			</template>

			<div class="text-center">
				<div v-if="success">
					<h1 class="h4">Usuario verificado</h1>
					<p class="my-4">Tu cuenta se encuentra habilitada para que puedas utilizar nuestros servicios</p>
				</div>
				<div v-else>
					<h1 class="h4">Upps</h1>
					<p class="my-4">Tuvimos un inconveniente al momento de validar tu cuenta. Intentalo nuevamente mas tarde</p>
				</div>

				<ReCaptcha class="text-center mb-4" />
				<Button :to="route('auth.login')" variant="primary" text="Ingresar" block />
			</div>
		</b-skeleton-wrapper>
	</AuthContainer>
</template>

<script>
const Button = () => import('@/components/common/Button');
const ReCaptcha = () => import('@/components/common/forms/ReCaptcha');
const AuthContainer = () => import('../common/AuthContainer');
import { BSkeleton, BSkeletonWrapper } from 'bootstrap-vue';

import { route, title, reCaptcha, serviceInteraction } from '@/mixins';
import { authService } from '@/http/services';

export default {
	name: 'VerifyAccount',
	mixins: [title, route, reCaptcha, serviceInteraction],
	components: {
		Button,
		AuthContainer,
		ReCaptcha,
		BSkeleton,
		BSkeletonWrapper
	},
	data() {
		return {
			form: {
				token: this.$route.params.token
			},
			success: null
		};
	},
	methods: {
		async verify() {
			this.loading();

			await this.reCaptchaTokenAndMerge();

			authService
				.verify(this.form)
				.then(() => (this.success = true))
				.catch(() => (this.success = false))
				.finally(() => this.revertLoading());
		}
	},
	async beforeMount() {
		this.title('Verificación');
		this.verify();
	}
};
</script>

<style></style>
