<template>
	<Dashboard :keyTitle="keyTitle">
		<template #title>Cuenta</template>
		<template #content>
			<div class="row">
				<div class="col-md-6 col-xl-4 col-xxl-4">
					<PanelBox>
						<template #title>Información personal</template>
						<template #content>
							<p class="pt-3">
								Si crees que algo esta incorrecto, comunicate con el administrador de la empresa para pedirle de cambiar
								esta información.
							</p>

							<ul class="list-inline py-4">
								<li
									class="py-3 d-flex justify-content-between"
									v-for="(userProperty, index) in USER_PROPERTIES"
									:key="index"
								>
									<span class="text-capitalize font-weight-bold">{{ userProperty }}:</span>
									<span>{{ user[userProperty] }}</span>
								</li>
							</ul>
						</template>
					</PanelBox>
				</div>

				<div class="col-md-6 col-xl-4 col-xxl-4 mt-5 mt-md-0">
					<PanelBox>
						<template #title>Cambio de contraseña</template>
						<template #content>
							<form @keyup.enter="changePassword">
								<InputForm
									v-model="form.password"
									type="password"
									label="Contraseña"
									placeholder="············"
									maxLength="30"
									:error="extractErrors('form.password')"
								/>

								<InputForm
									v-model="form.new_password"
									type="password"
									label="Nueva contraseña"
									placeholder="············"
									maxLength="30"
									:error="extractErrors('form.new_password')"
								/>

								<Button
									:isLoading="isLoading"
									:disabled="disableAction"
									class="mb-2"
									@click="changePassword"
									text="Actualizar"
									block
								/>
							</form>
						</template>
					</PanelBox>
				</div>
			</div>
		</template>
	</Dashboard>
</template>

<script>
const Dashboard = () => import('../components/Dashboard');
const PanelBox = () => import('../components/PanelBox');
const InputForm = () => import('@/components/common/forms/InputForm');
const Button = () => import('@/components/common/Button');

import { refreshTitle } from '../mixins';
import { mapGetters } from 'vuex';
import { validate, serviceInteraction } from '@/mixins';
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import { caseDiff, numbers, letters, different } from '@/rules';
import { authService } from '@/http/services';
import { USER_PROPERTIES } from './constants';
import { toast } from '@/plugins';

export default {
	name: 'Account',
	mixins: [refreshTitle, validationMixin, validate, serviceInteraction],
	components: {
		Dashboard,
		PanelBox,
		InputForm,
		Button
	},
	data() {
		return {
			form: {
				password: null,
				new_password: null
			}
		};
	},
	validations: {
		form: {
			password: {
				required,
				minLength: minLength(8),
				maxLength: maxLength(30),
				caseDiff,
				numbers,
				letters
			},
			new_password: {
				required,
				minLength: minLength(8),
				maxLength: maxLength(30),
				caseDiff,
				numbers,
				letters,
				different: different('password')
			}
		}
	},
	watch: {
		form: {
			handler() {
				this.shouldBeDisabled();
				this.revertSubmit();
			},
			deep: true
		}
	},
	computed: {
		...mapGetters({
			user: 'authModule/getUser'
		})
	},
	methods: {
		shouldBeDisabled() {
			this.disableAction = !(this.form.password && this.form.new_password);
		},
		async changePassword() {
			if (this.validate()) return;

			this.loading();

			authService
				.changePassword(this.form)
				.then(() => {
					toast.success('Tu contraseña se actualizo correctamente');

					this.cleanForm();
				})
				.catch((response) => {
					this.assignErrors(response);
				})
				.finally(() => this.revertLoading());
		}
	},
	beforeMount() {
		this.USER_PROPERTIES = USER_PROPERTIES;

		this.shouldBeDisabled();
	}
};
</script>

<style lang="scss" scoped>
ul {
	li {
		border-bottom: 1px solid $hr-color;

		&:first-of-type {
			padding-top: 0 !important;
		}

		&:last-of-type {
			border-bottom: none;
			padding-bottom: 0 !important;
		}
	}
}
</style>
