<template>
	<b-form-select v-model="selected" :options="offsets" @change="change" />
</template>

<script>
import { BFormSelect } from 'bootstrap-vue';
import { eventBus, EVENTS } from '@/eventBus';
import constants from './constants';

export default {
	name: 'TableOffset',
	components: {
		BFormSelect
	},
	props: {
		showing: Number,
		offset: Number
	},
	data() {
		return {
			selected: constants.records.includes(this.offset) ? this.offset : constants.default
		};
	},
	watch: {
		showing() {
			this.setOptions();
		}
	},
	methods: {
		change: (offset) => eventBus.$emit(EVENTS.TableOffset.handleOffset, offset),
		setOptions() {
			this.offsets = constants.records.map((option) => ({
				value: option,
				text: option,
				disabled: this.showing < constants.default
			}));
		}
	},
	beforeMount() {
		this.setOptions();
	}
};
</script>

<style lang="scss" scoped>
select {
	width: 60px;
}
</style>
