<!-- @format -->

<template>
	<div class="position-relative">
		<BButton
			:disabled="isDisabled"
			:squared="squared"
			:block="block"
			:variant="variantClass"
			class="button"
			:class="[!padding ? 'no-padding' : '']"
			@click="click"
		>
			<div :class="isLoading ? 'hide' : 'show'">
				<div v-if="text">{{ text }}</div>
				<div v-else>
					<slot></slot>
				</div>
			</div>
		</BButton>
		<Spinner class="spinner position-absolute" :color="colorLoading" :class="isLoading ? 'show' : 'hide'"></Spinner>
	</div>
</template>

<script>
const Spinner = () => import('./Spinner');
import { BButton } from 'bootstrap-vue';

export default {
	components: {
		Spinner,
		BButton
	},
	props: {
		variant: {
			type: String,
			default: 'primary'
		},
		outline: Boolean,
		text: String,
		block: Boolean,
		squared: Boolean,
		disabled: Boolean,
		to: String,
		padding: {
			type: Boolean,
			default: true
		},
		isLoading: {
			type: Boolean,
			default: false
		},
		colorLoading: {
			type: String,
			default: 'light'
		}
	},
	computed: {
		variantClass() {
			const variant = this.outline ? 'outline-' : '';

			return `${variant}${this.variant}`;
		},
		isDisabled() {
			return this.disabled ? this.disabled : this.isLoading;
		}
	},
	methods: {
		click() {
			if (this.to) {
				this.$router.push(this.to).catch(() => {});
			} else {
				this.$emit('click');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.button {
	padding: 0.5rem 0.75rem !important;
	border-radius: $border-radius;
	color: $white !important;
	font-size: $font-size-sm;

	&.btn-outline-primary {
		color: $primary !important;

		&:hover {
			background: inherit !important;
		}
	}

	&.btn-outline-secondary {
		color: $secondary !important;

		&:hover {
			background: inherit !important;
		}
	}

	&.no-padding {
		padding: 0 !important;
	}
}

.show {
	opacity: 1;
	transition: $transition-base;
}

.hide {
	opacity: 0;
	transition: $transition-base;
}

.spinner {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	&.show {
		z-index: 1;
	}

	&.hide {
		z-index: -1;
	}
}
</style>
