<template>
	<BModal :size="size" v-model="showModal" no-close-on-backdrop no-close-on-esc hide-footer hide-header @close="close">
		<a v-if="!disableClose" href="#" class="close-button position-absolute" @click.prevent="close">
			<i class="icon ionicon-close-outline h4"></i>
		</a>
		<div class="p-3">
			<h2 class="h4 text-center mb-3" v-if="title">{{ title }}</h2>
			<slot></slot>
		</div>
	</BModal>
</template>

<script>
import { BModal } from 'bootstrap-vue';
import { modal } from '@/mixins';

export default {
	mixins: [modal],
	components: {
		BModal
	},
	props: {
		size: String,
		title: String,
		disableClose: Boolean
	}
};
</script>

<style lang="scss" scoped>
.close-button {
	top: 10px;
	right: 15px;
}
</style>
