<template>
	<div v-if="isLoading" class="spinner text-center my-auto">
		<div :class="`bounce${index} bg-white mr-1 d-inline-block rounded-circle`" v-for="index in 3" :key="index"></div>
	</div>
</template>

<script>
export default {
	props: {
		isLoading: {
			name: Boolean,
			default: true
		}
	}
};
</script>

<style lang="scss" scoped>
.spinner {
	width: 70px;
	height: 14px;

	> div {
		width: 14px;
		height: 14px;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}

	.bounce3 {
		margin-right: 0 !important;
	}
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
</style>
