<template>
	<div class="container-fluid">
		<div class="row">
			<Sidebar />
			<div class="component-container pt-5 w-100 h-100">
				<Header />
				<div class="mx-4 my-4">
					<h2 class="h3 pt-3 pb-4">
						<slot name="title"></slot>
					</h2>
					<slot name="content"></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
const Sidebar = () => import('./sidebar/Sidebar');
const Header = () => import('./Header');

export default {
	name: 'Dashboard',
	components: {
		Sidebar,
		Header
	}
};
</script>

<style lang="scss" scoped>
.container-fluid {
	.component-container {
		margin-left: 225px;
		min-height: 100vh;
		background: $body-background-color;
		transition: margin-left $transition-slow-seconds ease-in-out;
	}
}
</style>

<style lang="scss">
@media (max-width: map-get($grid-breakpoints, lg)) {
	.container-fluid {
		.component-container {
			margin-left: 0 !important;
		}
	}
}
</style>
