<template>
	<header class="p-3 d-flex align-items-center position-fixed w-100 bg-white">
		<div class="mr-auto"></div>

		<div class="d-flex">
			<a
				href="#"
				id="upgrade-tooltip"
				class="mr-3 upgrade-icon d-block rounded-circle text-center icon ionicon-ribbon-outline"
			></a>
			<BTooltip target="upgrade-tooltip" triggers="hover"> Upgradear plan </BTooltip>

			<BDropdown variant="link" right toggle-class="text-decoration-none d-flex align-items-center" no-caret lazy>
				<template #button-content>
					<div
						class="company-image rounded-circle"
						:style="`background:url(${logo}) no-repeat center center / cover`"
					></div>
					<span class="pl-1 h6 d-sm-inline-block d-none">{{ company.name }}</span>
				</template>
				<BDropdownItem :to="route('dashboard.company')">
					<div class="d-flex align-items-center">
						<i class="icon ionicon-finger-print-outline pr-2"></i> <span> Company</span>
					</div>
				</BDropdownItem>
				<BDropdownItem :to="route('dashboard.account')">
					<div class="d-flex align-items-center">
						<i class="icon ionicon-settings-outline pr-2"></i> <span> Account</span>
					</div>
				</BDropdownItem>
				<BDropdownDivider />
				<BDropdownItem @click="logout">
					<div class="d-flex align-items-center">
						<i class="icon ionicon-log-out-outline pr-2"></i> <span> Logout</span>
					</div>
				</BDropdownItem>
			</BDropdown>
		</div>
	</header>
</template>

<script>
import { mapActions } from 'vuex';
import { BDropdown, BDropdownItem, BDropdownDivider, BTooltip } from 'bootstrap-vue';
import { route, company } from '@/mixins';

export default {
	name: 'Header',
	mixins: [route, company],
	components: {
		BDropdown,
		BDropdownItem,
		BDropdownDivider,
		BTooltip
	},
	methods: {
		...mapActions({
			logout: 'authModule/logout'
		})
	}
};
</script>

<style lang="scss" scoped>
header {
	padding-right: 20.25px;
	box-shadow: $box-shadow;
	z-index: 1;
	left: 0;
	top: 0;

	.upgrade-icon {
		font-size: 1.3rem;
		background: $body-background-color;
		line-height: 30px;
		width: 30px;
		height: 30px;
	}

	.ionicon-menu-outline {
		font-size: 1.5rem;
		margin-left: 2rem;
	}

	.company-image {
		width: 24px;
		height: 24px;
	}
}
</style>
