<template>
	<div class="panel-container p-3 bg-white rounded">
		<h3 class="pb-1">
			<slot name="title"></slot>
		</h3>
		<slot name="content"></slot>
	</div>
</template>

<script>
export default {
	name: 'PanelBox'
};
</script>

<style lang="scss" scoped>
.panel-container {
	box-shadow: $box-shadow;

	h3 {
		font-size: 0.9rem;
	}
}
</style>
