<template>
	<div>
		<h1 class="h2 pb-3">Te damos la bienvenida</h1>
		<p>Estamos aqui para ayudarte y faliciarte tu trabajo</p>
		<form class="mt-4">
			<InputForm
				v-model="user.email"
				label="Correo electronico"
				:toLowerCase="true"
				placeholder="Ingresa tu email"
				:error="extractErrors('user.email')"
			/>

			<InputForm
				v-model="user.password"
				type="password"
				label="Contraseña"
				placeholder="············"
				maxLength="30"
				:error="extractErrors('user.password')"
			/>

			<InputForm
				v-model="user.company_name"
				label="Empresa"
				placeholder="Stocky INC"
				maxLength="40"
				:error="extractErrors('user.company_name')"
			/>

			<div class="d-flex mb-4">
				<a href="#" class="mr-auto">Reenviar confirmación</a>
				<a href="#" @click.prevent="" class="">Recuperar contraseña</a>
			</div>

			<Button :isLoading="isLoading" :disabled="disableAction" class="mb-2" @click="login" text="Registarse" block />
			<Button :to="route('auth.login')" variant="secondary" text="Ingresar" block />

			<hr />

			<ReCaptcha class="text-center mb-4" />
		</form>
	</div>
</template>

<script>
const InputForm = () => import('@/components/common/forms/InputForm');
const Button = () => import('@/components/common/Button');
const ReCaptcha = () => import('@/components/common/forms/ReCaptcha');

import { route, title, reCaptcha, validate, serviceInteraction } from '@/mixins';
import { validationMixin } from 'vuelidate';
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators';
import { caseDiff, numbers, letters } from '@/rules';
import { toast } from '@/plugins';
import { authService } from '@/http/services';

export default {
	name: 'RegisterForm',
	mixins: [route, title, reCaptcha, validationMixin, validate, serviceInteraction],
	components: {
		InputForm,
		Button,
		ReCaptcha
	},
	data() {
		return {
			isLoading: false,
			disableAction: true,
			submitted: false,
			errors: {},
			form: {
				email: null,
				password: null,
				company_name: null,
				plan_id: null
			}
		};
	},
	validations: {
		form: {
			email: {
				required,
				email
			},
			password: {
				required,
				minLength: minLength(8),
				maxLength: maxLength(30),
				caseDiff,
				numbers,
				letters
			},
			company_name: {
				required,
				minLength: minLength(1),
				maxLength: maxLength(40)
			}
		}
	},
	watch: {
		form: {
			handler() {
				this.shouldBeDisabled();
				this.revertSubmit();
			},
			deep: true
		}
	},
	methods: {
		shouldBeDisabled() {
			this.disableAction = !(this.form.email && this.form.password && this.form.company_name);
		},
		async login() {
			if (this.validate()) return;

			this.isLoading = true;

			await this.reCaptchaTokenAndMerge(this.USER_KEY);

			authService
				.register(this.form)
				.then(() => {
					toast.success('Se creo tu cuenta correctamente');

					this.cleanForm(this.USER_KEY);
				})
				.catch((response) => {
					this.assignErrors(response);
				})
				.finally(() => this.revertLoading());
		}
	},
	created() {
		this.title('Register');

		this.shouldBeDisabled();
	}
};
</script>

<style lang="scss" scoped>
a {
	text-decoration: underline;
}
</style>
