<template>
	<div>
		<h1 class="h4 text-center">Seleccionar plan</h1>

		<ul class="list-inline">
			<li class="list-inline-item p-3 rounded" v-for="(plan, index) in plans" :key="index">
				<p class="price">{{ plan.price }}</p>
				<p class="name">{{ plan.name }}</p>
			</li>
		</ul>

		<p class="text-center pt-3"><a target="_blank" :href="route('landing.plans')">Ver planes</a></p>
	</div>
</template>

<script>
import Vue from 'vue';
import Vue2Filters from 'vue2-filters';
import { planService } from '@/http/services';
import { title, route } from '@/mixins';

Vue.use(Vue2Filters);

export default {
	name: 'SelectPlan',
	mixins: [title, route],
	data() {
		return {
			plans: []
		};
	},
	methods: {
		getPlans() {
			planService.all().then((plans) => {
				this.plans = plans;
			});
		}
	},
	created() {
		this.title('Selecciona tu plan');

		this.getPlans();
	}
};
</script>

<style lang="scss" scoped>
a {
	text-decoration: underline;
}

ul {
	li {
		border: 1px solid $hr-color;
	}
}
</style>
