<template>
	<div id="app">
		<router-view />
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	name: 'App',
	methods: {
		...mapActions({
			userLogged: 'authModule/userLogged',
			getCompany: 'companyModule/getCompany'
		})
	},
	beforeMount() {
		this.userLogged();
		this.getCompany();
	}
};
</script>
