<template>
	<p class="text-danger text-left">{{ message }}</p>
</template>

<script>
export default {
	props: {
		message: String
	}
};
</script>

<style lang="scss" scoped>
p {
	display: block;
	margin-top: 0.3rem;
	font-size: $font-size-sm;
}
</style>
