<template>
	<div
		class="image-uploader rounded-circle position-relative"
		:style="`background:url(${image}) no-repeat center center / cover`"
		@click="triggerInput"
	>
		<input type="file" @change="updateImage" accept="image/*" class="d-none" ref="imageInput" />
	</div>
</template>

<script>
import resizeImageRatio from '@quevlu/resize-image-ratio';

export default {
	name: 'ImageInputForm',
	props: {
		width: {
			type: Number,
			default: 150
		},
		height: {
			type: Number,
			default: 150
		},
		value: {}
	},
	data() {
		return {
			originalImage: this.value,
			image: this.value
		};
	},
	methods: {
		triggerInput() {
			this.$refs.imageInput.click();
		},
		async updateImage(event) {
			const inputFile = event.target.files[0];

			if (inputFile) {
				const resizedFile = await resizeImageRatio(inputFile, this.width, this.height);

				this.image = resizedFile.preview;

				this.$emit('input', resizedFile.file);
			} else {
				this.image = this.originalImage;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.image-uploader {
	overflow: hidden;
	cursor: pointer;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		transition: $transition-slow;
		content: '\e992';
		font-size: 1.5rem;
		color: $white;
		text-align: center;
		width: 1.5rem;
		height: 1.5rem;
		line-height: 1.5rem;
		font-family: $font-family-icons;
		opacity: 0;
		z-index: 2;
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		transition: $transition-slow;
		width: 100%;
		height: 100%;
		z-index: 1;
		content: '';
	}

	&:hover {
		&::after {
			background: rgba($secondary, 0.7);
			transition: $transition-slow;
		}

		&::before {
			opacity: 1;
			transition: $transition-slow;
		}
	}
}
</style>
