<template>
	<div class="my-3">
		<div class="input-wrapper position-relative">
			<LabelForm :id="id" :label="label" />
			<BFormInput
				:novalidate="true"
				:type="fakeType"
				:state="state"
				:id="id"
				:min="min"
				:max="max"
				:placeholder="placeholder"
				:formatter="formatter"
				:readonly="readonly"
				:autocomplete="autocomplete"
				@input="updateValue($event)"
				@keypress="isNumber($event)"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
				:maxlength="maxLength"
				:value="value"
				:disabled="disabled"
				class="input mt-1"
			/>
			<small v-if="description">{{ description }}</small>
			<a v-if="type == 'password'" href="#" variant="primary" @click.prevent="showPassword" title="Mostrar contraseña">
				<i :class="['icon', !clicked ? 'ionicon-eye-off-outline' : 'ionicon-eye-outline']"></i>
			</a>
		</div>
		<ErrorMessage :message="error" />
	</div>
</template>

<script>
const ErrorMessage = () => import('./ErrorMessage');
const LabelForm = () => import('./LabelForm');
import { BFormInput } from 'bootstrap-vue';
import { v4 as uuidv4 } from 'uuid';

export default {
	components: {
		ErrorMessage,
		BFormInput,
		LabelForm
	},
	props: {
		toLowerCase: {
			type: Boolean,
			default: false
		},
		label: String,
		placeholder: String,
		type: {
			type: String,
			default: 'text'
		},
		error: String,
		autocomplete: {
			type: String,
			default: 'off'
		},
		maxLength: {
			type: String,
			default: '255'
		},
		value: String,
		disabled: Boolean,
		readonly: Boolean,
		required: {
			default: false,
			type: Boolean
		},
		min: String,
		max: String,
		icon: String,
		description: String
	},
	data() {
		return {
			clicked: false,
			fakeType: this.type
		};
	},
	computed: {
		state() {
			return this.error ? false : null;
		}
	},
	methods: {
		updateValue(value) {
			this.$emit('input', value);
		},
		formatter(value) {
			if (this.toLowerCase) {
				value = value.toLowerCase();
			}
			return value;
		},
		showPassword() {
			this.fakeType = !this.clicked ? 'text' : 'password';
			this.clicked = !this.clicked;
		},
		isNumber(evt) {
			if (this.type == 'number' || this.onlyNumbers) {
				evt = evt ? evt : window.event;
				var charCode = evt.which ? evt.which : evt.keyCode;
				if (
					charCode > 31 &&
					(charCode < 48 || charCode > 57) &&
					(charCode !== 46 || charCode !== 45 || charCode !== 43)
				) {
					evt.preventDefault();
				} else {
					return true;
				}
			}
		}
	},
	beforeMount() {
		this.id = uuidv4();
	}
};
</script>

<style lang="scss" scoped>
.input-wrapper {
	.form-control {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		height: auto !important;
	}

	.icon {
		position: absolute;
		bottom: 8px;
		right: 10px;
		font-size: 1.3rem;
	}
}
</style>
