<template>
	<div :class="[margin ? 'my-3' : '']">
		<div class="input-wrapper position-relative">
			<LabelForm :id="id" :label="label" />
			<BFormInput
				:novalidate="true"
				type="text"
				:id="id"
				:placeholder="placeholder"
				@input="updateValue($event)"
				oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
				:maxlength="maxLength"
				:value="value"
				class="input"
			/>
			<small v-if="description">{{ description }}</small>
		</div>
	</div>
</template>

<script>
const LabelForm = () => import('./LabelForm');
import { BFormInput } from 'bootstrap-vue';

import { v4 as uuidv4 } from 'uuid';

export default {
	name: 'InputSearch',
	components: {
		BFormInput,
		LabelForm
	},
	props: {
		label: String,
		placeholder: String,
		maxLength: {
			type: String,
			default: '255'
		},
		value: String,
		description: String,
		margin: Boolean
	},
	data() {
		return {
			clicked: false
		};
	},
	methods: {
		updateValue(value) {
			this.$emit('input', value);
		}
	},
	beforeMount() {
		this.id = uuidv4();
	}
};
</script>

<style lang="scss" scoped>
.input-wrapper {
	.form-control {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		height: auto !important;
	}

	.icon {
		position: absolute;
		bottom: 8px;
		right: 10px;
		font-size: 1.3rem;
	}
}
</style>
