<template>
	<label class="text-left text-secondary d-block" :for="id">{{ label }}</label>
</template>

<script>
export default {
	name: 'LabelForm',
	props: {
		label: String,
		id: String
	}
};
</script>
