<template>
	<p>
		This site is protected by reCAPTCHA and the Google
		<a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
		<a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
	</p>
</template>

<script>
export default {
	name: 'ReCaptcha'
};
</script>

<style lang="scss" scoped>
p {
	font-size: $font-size-sm - 0.1rem;

	a {
		text-decoration: underline;

		&:hover {
			opacity: 0.7;
		}
	}
}
</style>
