<template>
	<div :class="['sidebar position-fixed', sidebarActive ? 'active' : '']" v-click-outside="closeSidebar">
		<h1 @click="handleSidebar" class="h4 text-center"><span class="first-letter">B</span> <span>inaccle</span></h1>

		<VueScroll :ops="OPTIONS">
			<div class="menu">
				<div v-for="(section, index) in SECTIONS" :key="index">
					<router-link
						:to="route(`dashboard.${section.linkPath}`)"
						:class="[
							isModuleActive(route(`dashboard.${section.linkPath}`)) ? 'active' : '',
							'pl-3 d-block my-1 d-flex align-items-center'
						]"
						v-if="hasModulePermission(section.key) || !section.needPermission"
					>
						<i :class="`icon ionicon-${section.icon}-outline pr-3`"></i>
						<span class="mr-auto">{{ section.name || section.key }}</span>
						<i v-if="section.sub - menu" class="icon ionicon-chevron-down-outline"></i>
					</router-link>

					<div
						class="sub-menu"
						v-if="SUB_SECTIONS[section.key] && isModuleActive(route(`dashboard.${section.linkPath}`))"
					>
						<transition name="fade">
							<div v-for="(item, index) in SUB_SECTIONS[section.key]" :key="index">
								<router-link
									:to="route(`dashboard.${section.key}.${item.linkPath}`)"
									:class="[
										isSubModuleActive(route(`dashboard.${section.key}.${item.linkPath}`)) ? 'active' : '',
										'd-block'
									]"
									v-if="hasPermission(item.permission)"
								>
									{{ item.key }}
								</router-link>
							</div>
						</transition>
					</div>
				</div>
			</div>

			<SelectorLanguage class="mt-3 mx-3" />
			<small class="copyright-text d-block text-center mt-3 mb-5">© 2022 Binaccle. All rights reserved.</small>
			<div class="pb-5"></div>
		</VueScroll>
	</div>
</template>

<script>
const SelectorLanguage = () => import('./components/selectorLanguage/SelectorLanguage');

import { mapGetters } from 'vuex';
import VueScroll from 'vuescroll/dist/vuescroll-native';
import { SECTIONS, SUB_SECTIONS } from './constants';
import { route, permission } from '@/mixins';
import { clickOutside } from '@/directives';

export default {
	name: 'Sidebar',
	mixins: [route, permission],
	components: {
		SelectorLanguage,
		VueScroll
	},
	directives: {
		'click-outside': clickOutside
	},
	data() {
		return {
			currentPath: this.getCurrentPath(),
			sidebarActive: false
		};
	},
	watch: {
		$route() {
			this.currentPath = this.getCurrentPath();
		}
	},
	computed: mapGetters({
		company: 'companyModule/getCompany'
	}),
	methods: {
		isModuleActive(path) {
			if (path != '/') {
				return this.currentPath.startsWith(path);
			}

			return this.isSubModuleActive(path);
		},
		isSubModuleActive(path) {
			return path == this.currentPath;
		},
		getCurrentPath() {
			return this.$router.currentRoute.path;
		},
		handleSidebar() {
			this.sidebarActive = !this.sidebarActive;
		},
		closeSidebar() {
			this.sidebarActive = false;
		}
	},
	beforeMount() {
		this.SECTIONS = SECTIONS;
		this.SUB_SECTIONS = SUB_SECTIONS;
		this.OPTIONS = {
			bar: {
				showDelay: 300,
				onlyShowBarOnScroll: true,
				keepShow: false,
				background: '#6e6e6e',
				opacity: 1,
				hoverStyle: false,
				specifyBorderRadius: false,
				minSize: 0,
				size: '3px',
				disable: false
			}
		};
	}
};
</script>

<style lang="scss" scoped>
.sidebar {
	height: 100vh;
	min-height: 100%;
	max-width: 225px;
	width: 100%;
	background: $secondary;
	transition: height $transition-slow-seconds ease-in-out;
	transition: min-height $transition-slow-seconds ease-in-out;
	transition: max-width $transition-slow-seconds ease-in-out;
	top: 0;
	left: 0;
	z-index: 2;

	h1 {
		color: $white !important;
		height: 62px;
		line-height: 62px;

		.first-letter {
			color: $white !important;
			background: $primary;
			padding: 0.2rem;
			margin-right: 0.1rem;
			border-radius: $border-radius;
		}
	}

	.menu {
		a {
			color: $white;
			font-size: $font-size-sm;
			text-transform: capitalize;
			padding-top: 0.7rem;
			padding-bottom: 0.7rem;

			i {
				font-size: 1.3rem;

				&.ionicon-chevron-down-outline {
					font-size: 1rem;
					transition: $transition-slow;
				}
			}

			&.active {
				color: $primary;
				font-weight: bold;

				i.ionicon-chevron-down-outline {
					transform: rotate(-180deg);
				}
			}
		}

		.sub-menu {
			margin-left: 3.3rem;

			a {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}
		}

		.dropdown-container {
			padding-top: 0.7rem;
			padding-bottom: 0.7rem;

			.icon-button {
				color: $white;
				font-size: 1.3rem;

				&.active {
					color: $primary;
					font-weight: bold;
				}
			}

			span {
				display: block !important;
			}
		}
	}

	.copyright-text {
		color: $rail-scroll;
	}
}
</style>

<style lang="scss">
@media (max-width: map-get($grid-breakpoints, lg)) {
	.sidebar {
		height: 62px !important;
		min-height: 62px !important;
		max-width: 60px !important;
		overflow: hidden !important;
		transition: height $transition-slow-seconds ease-in-out;
		transition: min-height $transition-slow-seconds ease-in-out;
		transition: max-width $transition-slow-seconds ease-in-out;

		h1 {
			span:not(.first-letter) {
				display: none;
			}
		}

		&.active {
			height: 100vh !important;
			min-height: 100% !important;
			max-width: 225px !important;
			width: 100% !important;

			h1 {
				span:not(.first-letter) {
					display: inline-block !important;
				}
			}
		}
	}
}
</style>
