<template>
	<AuthContainer title="Login">
		<form class="mt-4" @keyup.enter="login">
			<InputForm
				v-model="form.email"
				label="Correo electronico"
				:toLowerCase="true"
				placeholder="Ingresa tu email"
				:error="extractErrors('form.email')"
			/>

			<InputForm
				v-model="form.password"
				type="password"
				label="Contraseña"
				placeholder="············"
				maxLength="30"
				:error="extractErrors('form.password')"
			/>

			<FooterFormLinks />

			<Button :isLoading="isLoading" :disabled="disableAction" class="mb-2" @click="login" text="Ingresar" block />
			<Button :to="route('auth.register')" variant="secondary" text="Registrarte" block />

			<hr />

			<ReCaptcha class="text-center mb-4" />
		</form>
	</AuthContainer>
</template>

<script>
const InputForm = () => import('@/components/common/forms/InputForm');
const Button = () => import('@/components/common/Button');
const ReCaptcha = () => import('@/components/common/forms/ReCaptcha');
const FooterFormLinks = () => import('./common/FooterFormLinks');
const AuthContainer = () => import('./common/AuthContainer');

import { route, title, reCaptcha, validate, serviceInteraction } from '@/mixins';
import { validationMixin } from 'vuelidate';
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators';
import { caseDiff, numbers, letters } from '@/rules';
import { toast } from '@/plugins';
import { authService } from '@/http/services';
import { mapActions } from 'vuex';

export default {
	name: 'Login',
	mixins: [route, title, reCaptcha, validationMixin, validate, serviceInteraction],
	components: {
		InputForm,
		Button,
		ReCaptcha,
		FooterFormLinks,
		AuthContainer
	},
	data() {
		return {
			form: {
				email: 'app@binaccle.com',
				password: 'AppBinaccle01'
			}
		};
	},
	validations: {
		form: {
			email: {
				required,
				email
			},
			password: {
				required,
				minLength: minLength(8),
				maxLength: maxLength(30),
				caseDiff,
				numbers,
				letters
			}
		}
	},
	watch: {
		form: {
			handler() {
				this.shouldBeDisabled();
				this.revertSubmit();
			},
			deep: true
		}
	},
	methods: {
		...mapActions({
			storeLogin: 'authModule/login'
		}),
		shouldBeDisabled() {
			this.disableAction = !(this.form.email && this.form.password);
		},
		async login() {
			if (this.validate()) return;

			this.loading();

			await this.reCaptchaTokenAndMerge();

			authService
				.login(this.form)
				.then((response) => {
					toast.success('Te logueaste correctamente');

					this.cleanForm();

					this.storeLogin(response);
				})
				.catch((response) => this.assignErrors(response))
				.finally(() => this.revertLoading());
		}
	},
	beforeMount() {
		this.title('Login');

		this.shouldBeDisabled();
	}
};
</script>
