<template>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 d-flex justify-content-center">
				<div class="form-container m-auto py-5">
					<div class="text-center">
						<img src="~@/assets/logo.jpeg" class="img-fluid mb-4" alt="Binaccle" width="150" height="auto" />

						<h1 v-if="title" class="h4">{{ title }}</h1>
					</div>
					<slot></slot>
				</div>
			</div>
			<div :class="`d-none d-md-block col-md-8 background image-${randomNumberImage}`"></div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'AuthContainer',
	props: {
		title: String
	},
	computed: {
		randomNumberImage: () => Math.floor(Math.random() * 2 + 1)
	}
};
</script>

<style lang="scss" scoped>
.container-fluid {
	background: $white;

	.row {
		height: 100%;
		min-height: 100vh;
		.form-container {
			width: 100%;
			max-width: 500px;
		}

		.background {
			background-size: cover;
			background-position: center center;
			border-radius: 0 $border-radius $border-radius 0;
			&.image-1 {
				background-image: url(~@/assets/auth/1.jpg);
			}

			&.image-2 {
				background-image: url(~@/assets/auth/2.jpg);
			}
		}
	}
}
</style>
