<template>
	<div class="d-flex mb-4">
		<router-link class="mr-auto" :to="route('auth.sendVerification')">Reenviar confirmación</router-link>
		<router-link :to="route('auth.sendResetPassword')">Recuperar contraseña</router-link>
	</div>
</template>

<script>
import { route } from '@/mixins';

export default {
	name: 'FooterFormLinks',
	mixins: [route]
};
</script>

<style lang="scss" scoped>
a {
	text-decoration: underline;
}
</style>
